<!-- Note: $ctrl.getTemplateUrl().substr(7,5) is an alternative to $root.vid -->
<md-content layout-xs="column" layout="row" id="search-home">
    <div flex="60" layout="column">
        <md-card class="default-card" ng-if="$root.vid != '01ASU'">
            <md-card-title>
                <md-card-title-text><span class="md-headline">Test Area, only visible when view id is not 01ASU</span></md-card-title-text>
            </md-card-title>
            <md-card-content>
                Original LibChat button: <lib-chat></lib-chat>
                <!-- <new-lib-chat></new-lib-chat> -->
            </md-card-content>
        </md-card>
        <md-card class="default-card">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Welcome to ASU Library One Search
                        <span ng-if="$root.vid != '01ASU'">, vid: {{$root.vid}}</span>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>ASU Library One Search enables you to find books available in the ASU Library, link to journals online, discover scholarly articles for your research and helps you manage your research.</p>
                <p>Sign In to:</p>

                <ul>
                    <li>Save results in My Favorites</li>
                    <li>Request articles and books via Interlibrary Loan (ILL)</li>
                    <li>Renew books and other items on loan</li>
                    <li>Export citations to Refworks and more</li>
                    <li>View complete search results
                      <ul><li>Note: Users must be signed in for some databases to include results.</li></ul></li>
                </ul>
            </md-card-content>
        </md-card>
        <md-card class="default-card">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Search Tips</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>In a <strong>Basic Search</strong> you'll receive results that contain all of your search terms. These may match keywords in a title, author names, subjects, abstract, or other descriptions.</p>
                <p>Use the <strong>Advanced Search</strong> to pre-limit your search to specific fields, material types, or publication dates.</p>
                <p>Use the <strong>Filters</strong> to limit to items available online or physically available in the library. You can also include or exclude particular material types, dates, authors, subjects, or library locations.</p>
                <p>The <strong>*</strong> character can be used as a wildcard in place of one or more characters. [Examples: recycl*, organiz*, wom*n]</p>
                <p>Enclosing your search in quotes <strong>" "</strong> will only return results with an exact match. [Examples: "global warming", "Affordable Care Act", "mutual funds"]</p>
                <p>Searches can also be nested in <strong>( )</strong>, combined with <strong>" "</strong> and Boolean operators AND, OR, NOT. [Example: "World War II" AND (sites OR battles) NOT (Normandy OR Pearl Harbor)]</p>
                <p><a href="http://libguides.asu.edu/primo-info">See more search strategies</a></p>
            </md-card-content>
        </md-card>
                <md-card class="default-card">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">My Account</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>Here you can save results to My Favorites, create alerts for saved searches, and renew items.</p>
                <p><a href="/primo-explore/account?vid={{$root.vid}}&section=overview&lang=en_US">Go to my account</a></p>
            </md-card-content>
        </md-card>
    </div>
    <div flex-xs flex="40" layout="column">
        <md-card class="default-card">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">What will I find here?</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <ul>
                <li>Scholarly and Peer-Reviewed Articles</li>
                <li>Books and EBooks</li>
                <li>Journals</li>
                <li>Dissertations</li>
                <li>Music, Films, Video</li>
                <li>Government Documents</li>
                <li>Newspaper Articles</li>
                <li>Reviews</li>
                <li>Course Reserves</li>
                </ul>
            </md-card-content>
        </md-card>
        <md-card class="default-card">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Looking for Course Reserves?</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>To find <b>Books and DVDs on reserve</b>, select Course Reserves in the drop-down menu next to the search box. Then search for your course (ex: ASB321 or ENG 101), item title, or instructor.</p>
                <p><a href="http://search.lib.asu.edu/primo-explore/custom/{{$root.vid}}/img/course-reserves-basic4.jpg" target="_blank">
                    <img src="custom/{{$root.vid}}/img/course-reserves-basic4.jpg" alt="Select Course Reserves in the auto-complete options that appear as you type inside the search box." />View larger image</a>
                </p>
                <p>To find <b>Books, DVDs, and electronic Course Reserves</b>, check your <a href="https://myasucourses.asu.edu/" target="_blank">Blackboard</a> or <a target="_blank" href="https://asu.instructure.com/">Canvas</a> course. If your class is not taught in Blackboard or Canvas, search <a href="https://arizona-asu.alma.exlibrisgroup.com/leganto/readinglist/searchlists?auth=CAS" target="_blank">ASU Library Reading Lists</a>.</p>
            </md-card-content>
        </md-card>
        <md-card class="default-card">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Where can I get help?</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p><a href="http://askalibrarian.asu.edu/">Ask a Librarian</a></p>
            </md-card-content>
        </md-card>
    </div>
</md-content>
