<div class="container lib-footer layout-align-space-around-center" layout="row" layout-xs="column" layout-wrap layout-gap="2%" layout-align="space-evenly">
  <div>
    <img src="custom/{{$root.vid}}/img/lib-logo-footer.png" /><br/>
    <a href="https://lib.asu.edu/locations">Maps and Addresses</a><br/>
    <a href="http://twitter.com/ASUlibraries" class="icon"><img src="custom/{{$root.vid}}/img/twitter-square.svg" class="fa-icon"/></a>
    <a href="http://www.facebook.com/ASULibraries" class="icon"><img src="custom/{{$root.vid}}/img/facebook-square.svg" class="fa-icon"/></a>
    <a href="http://instagram.com/ASULibraries/" class="icon"><img src="custom/{{$root.vid}}/img/instagram.svg" class="fa-icon"/></a><br/>
    <a href="https://lib.asu.edu/govdocs" class="icon"><img src="custom/{{$root.vid}}/img/fdlp.png" class="fdlp"/></a>
  </div>
  <div>
    <h4>About the Library</h4>
    <a href="https://lib.asu.edu/employment">Employment</a><br/>
    <a href="https://lib.asu.edu/librarychannel">Library News</a><br/>
    <a href="https://lib.asu.edu/policies">Policies</a><br/>
    <a href="https://giving.asu.edu/OrderApi__campaign?id=a1Y30000000sgEEEAY&site=a0J3000000D2jwmEAB&catalogid=a0V0M00000BEgMQ">Support the Library</a><br/>
    <a href="https://lib.asu.edu/we-listened">We're Listening!</a><br/>
    <a href="https://lib.asu.edu/about/who-we-are">Who We Are</a><br/>
    <a href="https://arizonastateu.sharepoint.com/sites/ASULibrary">Staff Intranet</a><br/>
  </div>
  <div>
    <h4>Contact Us</h4>
    <a href="http://askalibrarian.asu.edu/">Ask a Librarian</a><br/>
    <a href="https://lib.asu.edu/help/suggestions">Feedback</a><br/>
    <a href="https://lib.asu.edu/directory">Staff Directory</a><br/>
  </div>
  <div>
    <h4>Hours and Locations</h4>
    <a href="https://lib.asu.edu/hours">Hours</a><br/>
    <a href="https://lib.asu.edu/locations">Maps and Locations</a>
  </div>
</div>
<div class="asu-footer">
  <!-- from https://www.asu.edu/asuthemes/4.4/includes/footer.shtml -->
  <div id="innovation-footer">
    <div id="innovation-bar">
      <div class="innovation-top layout-align-end-center" layout="row" layout-xs="column" layout-wrap layout-gap="2%" layout-align="end">
        <div class="innovation-status">
          <a href="https://yourfuture.asu.edu/rankings"><span>ASU is #1 in the U.S. for Innovation</span></a>
        </div>
        <div class="innovation-hidden" flex="20" layout-align="start">
          <a href="https://yourfuture.asu.edu/rankings"><img src="//www.asu.edu/asuthemes/4.6/assets/best-colleges-most-innovative.png" alt="Best Colleges U.S. News Most Innovative 2019"></a>
        </div>
      </div>
    </div>
    <div class="footer-menu layout-align-space-around-stretch" layout="row" layout-xs="columm" layout-wrap layout-gap="3%" layout-align="space-around stretch">
    <div layout-align="start center" class="layout-align-start-center" layout="row">
        <a href="http://www.asu.edu/copyright/">Copyright &amp; Trademark</a>
        <a href="http://www.asu.edu/accessibility/">Accessibility</a>
        <a href="http://www.asu.edu/privacy/">Privacy</a>
        <a href="http://www.asu.edu/asujobs">Jobs</a>
        <a href="http://www.asu.edu/emergency/">Emergency</a>
        <a href="http://www.asu.edu/contactasu/">Contact ASU</a>
      </div>
      <div>
      </div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
