<md-card class="custom-card zero-margin _md md-primoExplore-theme">
    <md-card-title>
        <md-card-title-text>
            <span translate="" class="md-headline">{{'nui.noresults.title' | translate}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>
            <span>There are no results matching your search "{{ $ctrl.getSearchTerm() }}". Try the recommendations below to find results:</span>
        </p>
    </md-card-content>
</md-card>

<md-content layout-xs="column" layout="row">
    <div flex="50" layout="column">
        <md-card class="default-card">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Adjust your keywords</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <ul>
                    <li>Try fewer or more general keywords.</li>
                    <li>Check your spelling. Spell out abbreviations.</li>
                    <li>Search for full or partial titles with or without quotes.</li>
                    <li>Remove commas, periods, hyphens, question marks, colons and semi-colons.</li>
                    <li>Learn <a href="http://www.asu.edu/lib/tutorials/storyline/generating-keywords/" target="_blank"><b>how to use keywords</b></a> and <a href="http://www.asu.edu/lib/tutorials/storyline/search-connectors/" target="_blank"><b>how to use search connectors</b></a>.</li>
                </ul>
            </md-card-content>
        </md-card>
        <md-card class="default-card">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Search other resources</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <ul>
                    <li><a href="https://libguides.asu.edu/googlescholar" target="_blank"><b>Google Scholar</b></a> - Find scholarly articles available across the web.</li>
                    <li><a href="https://libguides.asu.edu/az.php" target="_blank"><b>All Databases</b></a> - Browse over 600 databases by subject.</li>
                    <li><a href="https://libguides.asu.edu/worldcat" target="_blank"><b>WorldCat</b></a> - Find and request items from libraries across the globe.</li>
                </ul>
            </md-card-content>
        </md-card>
    </div>
    <div flex-xs flex="50" layout="column">
        <md-card class="default-card">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Try something else</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <ul>
                    <li>Search for a citation, DOI or PMID in <a href="https://arizona-asu-primo.hosted.exlibrisgroup.com/primo-explore/citationlinker?vid=01ASU&lang=en_US"><b>Citation Linker</b></a>.</li>
                    <li>Search for a call number or ISBN in <a href="https://search.lib.asu.edu/primo-explore/search?tab=default_tab&search_scope=Everything&sortby=rank&vid=01ASU&lang=en_US&mode=advanced&offset=0"><b>Advanced Search</b></a>.</li>
                    <li>Technical difficulties? Sign in or out, refresh the page or try a different browser.</li>
                    <li>Check advanced search terms: <br/>"World War II" AND (sites or battles) NOT (Normandy OR Pearl Harbor)</li>
                    <li>Select Expand My Results to see items available through Interlibrary Loan.</li>
                </ul>
            </md-card-content>
        </md-card>
        <md-card class="default-card">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Still not working?</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <ul>
                    <li><a href="https://lib.asu.edu/systems/help" target="_blank"><b>Report an error.</b></a></li>
                    <li>Learn <a href="https://libguides.asu.edu/primo-info" target="_blank"><b>how to use One Search.</b></a></li>
                    <li><a href="https://askalibrarian.asu.edu/" target="_blank"><b>Ask a Librarian</b></a> - Email, call or chat with a specialist in your subject area.</li>
                </ul>
            </md-card-content>
        </md-card>
    </div>
</md-content>
