<div id='frbr_facet_restore' class="info-bar hide">
  <md-button class="md-button button-with-icon dismiss-alert-button" aria-label="dismiss adding back facets display" ng-click='$ctrl.dismissFrbrFacets()'>
    <md-icon md-svg-icon="primo-ui:close"></md-icon>
    Dismiss
  </md-button>
  <p>
    Your previously selected filters have been removed. Select the filter(s) again below to re-apply.
  </p>
  <div class="md-chips">
    <div class="md-chip animate-chip layout" ng-repeat="f in $ctrl.prev_facets" layout="row">
      <md-checkbox ng-model="facet" ng-change='$ctrl.addPreFrbrFacet($event, f)'>
        <strong>{{$ctrl.getFacetLabel(f)}}</strong>
      </md-checkbox>
    </div>
    <div class="md-chip animate-chip layout" ng-repeat="f in $ctrl.prev_mfacets" layout="row">
      <md-checkbox ng-model="facet" ng-change='$ctrl.addPreFrbrFacet($event, f)'>
        <strong>{{$ctrl.getFacetLabel(f)}}</strong>
      </md-checkbox>
    </div>
  </div>
</div>
<prm-alert-bar flex="" ng-if="$ctrl.showAlertBanner" ng-hide="!$ctrl.showAlertBanner" [alert-object]="$ctrl.alertBanner" class="flex" id="reservesBanner">
</prm-alert-bar>
