<div layout="row" id="searchProfileRadios" class="layout-full-width simple-search-wrapper">
  <md-radio-group layout="row" layout-align="start center" ng-model="$ctrl.parentCtrl.tab" ng-change="$ctrl.parentCtrl.onTabChange()"
    class="search-element-inner" layout-wrap ng-if="$ctrl.parentCtrl.tabOptions.length > 1" ng-hide="$ctrl.parentCtrl.configurationUtil.searchFieldsService.advancedSearch">
    <span translate="search-advanced.search.title" class="bold-text"></span>
    <md-radio-button ng-repeat="tab in $ctrl.parentCtrl.tabOptions" value="{{tab}}" class="md-primary" aria-label="{{'tabbedmenu.'+tab+'.label' | translate}}">
      <span translate="tabbedmenu.{{tab}}.label">
    </md-radio-button>
  </md-radio-group>
</div>
<md-select ng-change="$ctrl.onChangeAsuIndex()" id="indexSelect" ng-model="data.asuModel" name="indexSelect" ng-model-options="{trackBy: '$value.id'}">
  <md-option ng-repeat="option in data.availableOptions" ng-value="option" ng-selected="{{option.id == data.asuModel.id}}">{{option.name}}</md-option>
</md-select>
